<ion-view title="Activity" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="activity-button-bar1" class=" button-bar "></div>
        <div>
            <p>
                Activity Interaction Goes
                <b>Here</b>...
            </p>
        </div>
        <div id="activity-button-bar2" class=" button-bar "></div>
        <a ui-sref="tabsController.start" id="activity-button51" class=" button button-positive  button-block ">Done</a>
    </ion-content>
</ion-view>