<ion-view title="Context" id="page15" class=" ">
    <ion-content padding="true" class="has-header">

      <div class="row">

      <div class="col"><a ui-sref="tabsController.problem" id="context-button29" class=" button button-positive  button-block ">Context</a></div>
      <div class="col"><button id="context-button33" class=" button button-positive  button-block ">Context</button></div>

      </div>

      <div class="row">

      <div class="col"><button id="context-button34" class=" button button-positive  button-block ">Context</button></div>
      <div class="col"><button id="context-button35" class=" button button-positive  button-block ">Context</button></div>

      </div>
        
    </ion-content>
</ion-view>
