<ion-view title="Context" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.problem" id="context-button29" class=" button button-positive  button-block ">Context</a>
        <button id="context-button33" class=" button button-positive  button-block ">Context</button>
        <button id="context-button34" class=" button button-positive  button-block ">Context</button>
        <button id="context-button35" class=" button button-positive  button-block ">Context</button>
    </ion-content>
</ion-view>