<ion-view title="Problem" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.activity" id="problem-button36" class=" button button-positive  button-block ">Problem</a>
        <button id="problem-button40" class=" button button-positive  button-block ">Problem</button>
        <button id="problem-button41" class=" button button-positive  button-block ">Problem</button>
        <button id="problem-button42" class=" button button-positive  button-block ">Problem</button>
        <button id="problem-button43" class=" button button-positive  button-block ">Problem</button>
    </ion-content>
</ion-view>