<ion-view title="Signup | Username" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signupUsername-form1" class="list ">
            <ion-list id="signupUsername-list1" class=" ">
                <label class="item item-input " id="signupUsername-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="signupParent" id="signupUsername-button1" class=" button button-stable  button-block ">Next</a>
        </form>
    </ion-content>
</ion-view>