<ion-view title="Signup | Password" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signupPassword-form2" class="list ">
            <ion-list id="signupPassword-list2" class=" ">
                <label class="item item-input " id="signupPassword-input4">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="signupFriend" id="signupPassword-button2" class=" button button-stable  button-block ">Next</a>
        </form>
    </ion-content>
</ion-view>