<ion-view title="Start" id="page3" class=" ">
  <ion-content padding="true" class="has-header">

    <center>
      <h1>How Are You Feeling?</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget vehicula turpis. Integer malesuada lorem non consectetur venenatis.
      </p>
    </center>

    </br>

    <div class="row">

    <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
    <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
    <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>

    </div>

    </br>

    <div class="row">

      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>

    </div>

    </br>

    <div class="row">

      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>

    </div>

    </br>

    <div class="row">

      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>

    </div>

    </br>

    <div class="row">

      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>

    </div>

  </ion-content>
</ion-view>
