<ion-view title="Start" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.context" id="start-button14" class=" button button-positive  button-block ">Emotion</a>
        <button id="start-button15" class=" button button-positive  button-block ">Emotion</button>
        <button id="start-button16" class=" button button-positive  button-block ">Emotion</button>
        <button id="start-button17" class=" button button-positive  button-block ">Emotion</button>
        <button id="start-button18" class=" button button-positive  button-block ">Emotion</button>
        <button id="start-button19" class=" button button-positive  button-block ">Emotion</button>
        <button id="start-button20" class=" button button-positive  button-block ">Emotion</button>
        <button id="start-button21" class=" button button-positive  button-block ">Emotion</button>
        <button id="start-button22" class=" button button-positive  button-block ">Emotion</button>
        <button id="start-button23" class=" button button-positive  button-block ">Emotion</button>
        <button id="start-button24" class=" button button-positive  button-block ">Emotion</button>
        <button id="start-button25" class=" button button-positive  button-block ">Emotion</button>
        <button id="start-button26" class=" button button-positive  button-block ">Emotion</button>
        <button id="start-button27" class=" button button-positive  button-block ">Emotion</button>
    </ion-content>
</ion-view>