<ion-view title="Start" id="page3" class=" ">
  <ion-content padding="true" class="has-header">

    <div class="row">

    <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
    <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
    <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>

    </div>

    </br>

    <div class="row">

      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>

    </div>

    </br>

    <div class="row">

      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>

    </div>

    </br>

    <div class="row">

      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>

    </div>

    </br>

    <div class="row">

      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>
      <div class="col"><center><img src="http://i.imgur.com/h2W604p.png" height="50px"/></center></div>

    </div>

  </ion-content>
</ion-view>
